.News_page_container{
    width: 100%;

}
.page_heading{
    font-family: Inter;
font-weight: 700;
font-size: 40px;
line-height: 48px;
letter-spacing: 0px;
text-align: center;

}

.sustainability_news_section{
    width: 100%;
    background: linear-gradient(to bottom,  rgba(35, 38, 45, 1) 20%, #a55200 100%);
    background: linear-gradient(to bottom,  rgba(35, 38, 45, 1) 20%, #2e1f12 50%, #a55200 100%);
    display: flex;
    flex-direction: column;
    gap: 2rem;

    margin-top: 3.5rem;


}
.news-head-container h2{
font-family: roboto;
font-weight: 400;
font-size: 3rem;
text-align: center;
line-height: 60px;
color: white;
padding-top: 30px;
}
.newsHead{
width: 90%;
min-height: 250px;
margin: 0 auto;
margin-top: 2rem;

background: linear-gradient(158deg,  rgba(35, 38, 45, 1) 78%,  rgb(184, 69, 237,.35) 100%);       
  box-shadow: 0px 8px 10px -6px rgba(11, 9, 9, 0.2);
box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.2);
border-radius: 40px;
border: 1px solid #343841;
display: flex;
flex-direction: column;

}
.news-head-container{
width:80%;
min-height: 100%;
display: flex;
flex-direction: column;
justify-content: start;
align-items: start;
padding-left: 2rem;
padding-top: 1.5rem;
gap: 10px;
}
.news-head-container h3{
color: #bfc1c9;
font-family: roboto;
font-weight: 300;
font-size: 1.125rem;
line-height: 30px;
}
.news-head-container h2{
font-family: Roboto;
font-size: 3rem;
font-weight: 600;
line-height: 50px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color:#F3F4F6;

}

.news-head-container p{
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: white;
padding-bottom: 3rem;
margin-top: 2rem;
color: #F3F4F6;
}
.sustainability_news_section_cards{
width: 90%;
min-height: 250px;
margin: 0 auto;
display: flex;
gap: 1rem;
}

.sustainability_news_section_cards .suscard{
display: flex;
flex: 1;
min-height: 300px;
margin-bottom: 1rem;
flex-direction: column;
/* border: 1px solid  */
border: 2px solid #343841;;


}


.card_text_con{
width: 100%;
background: #23262D;
padding: 10px 10px;
}

.card_text_con h2{
font-family: Roboto;
font-weight: 600;
font-size: 18px;
line-height: 30px;
letter-spacing: 0%;
color: #fff;
text-align: start;

}

.card_text_con p{
font-family: Roboto;
font-weight: 300;
font-size: 14px;
line-height: 25px;
letter-spacing: 0%;
color: #fff;
}